:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    margin: 0;
    line-height: 1.625;
}
footer {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 4rem;
    max-width: 28rem;
}
[role="button"],
button {
    cursor: pointer;
}
:disabled {
    cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
[hidden] {
    display: none;
}
@media (prefers-reduced-motion: no-preference) {
    a,
    button {
        transition-property: color, background-color, border-color, text-decoration-color, fill,
            stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill,
            stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill,
            stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }
}
*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1280px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.left-column {
}
.right-column {
    padding-top: 6rem;
}
.title h1 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 700;
}
.title h2 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 500;
    margin-top: 0.75rem;
}
.title p {
    line-height: 1.5;
    max-width: 20rem;
    margin-top: 1rem;
}
.content-section {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}
.content-heading {
    background-color: rgba(15, 23, 42, 0.75);
    width: 100vw;
    margin-bottom: 1rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 20;
    top: 0;
    position: sticky;
}
.content-heading h2 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.content-text p:not(:last-child) {
    margin-bottom: 1rem;
}
.content-footer {
    margin-top: 3rem;
}
.content-footer a {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    line-height: 1.25;
    font-weight: 600;
    font-size: 1rem;
    align-items: baseline;
    display: inline-flex;
    text-decoration: inherit;
}
.group\/list {
}
.group\/list li {
    margin-bottom: 3rem;
}
.field {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    padding-bottom: 0.25rem;
    display: grid;
    position: relative;
}
.field-inner-wrapper {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    border-radius: 0.375rem;
    display: none;
    z-index: 0;
    top: -1rem;
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    position: absolute;
}
.group:hover .field-inner-wrapper {
    --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
        drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
        var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
        var(--tw-drop-shadow);
    --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
    --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    background-color: rgba(30, 41, 59, 0.5);
}
.field-inner-header {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    z-index: 10;
}
.field-inner-body {
    z-index: 10;
}
.field-inner-body h3 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    line-height: 1.375;
    font-weight: 500;
}
.field-inner-body p {
    line-height: 1.5;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;
}
.field-inner-body ul {
    flex-wrap: wrap;
    display: flex;
    margin-top: 0.5rem;
}
.field-inner-body ul li {
    margin-top: 0.5rem;
    margin-right: 0.375rem;
}
.rounded-box {
    --tw-text-opacity: 1;
    color: rgb(94 234 212 / var(--tw-text-opacity));
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgba(45, 212, 191, 0.1);
    border-radius: 9999px;
    align-items: center;
    display: flex;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.leading-normal {
    line-height: 1.5;
}
.leading-relaxed {
    line-height: 1.625;
}
.leading-snug {
    line-height: 1.375;
}
.leading-tight {
    line-height: 1.25;
}
.tracking-tight {
    letter-spacing: -0.025em;
}
.tracking-wide {
    letter-spacing: 0.025em;
}
.tracking-widest {
    letter-spacing: 0.1em;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.text-8xl {
    font-size: 6rem;
    line-height: 1;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.social {
    align-items: center;
    display: flex;
    margin-top: 2rem;
    margin-left: 0.25rem;
}
.social li {
    font-size: 0.75rem;
    line-height: 1rem;
    flex-shrink: 0;
    margin-right: 1.25rem;
}
.social li a {
    display: block;
}
.title-nav {
    display: none;
}
.title-nav ul {
    margin-top: 4rem;
    width: max-content;
    width: -moz-max-content;
}
.title-nav li a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
    display: flex;
}
.nav-indicator {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
    width: 2rem;
    height: 1px;
    margin-right: 1rem;
}
.group:hover .nav-indicator {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    width: 4rem;
}
.active .nav-indicator {
    width: 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.nav-text {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
}
.group:hover .nav-text {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
}
.active .nav-text {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
}
.blob {
    display: none;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    background-image: radial-gradient(rgba(29, 78, 216, 0.2), rgba(255, 255, 255, 0));
    filter: blur(250px);
    transition: all 250ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 30;
    inset: 0;
}
.scroll-smooth {
    scroll-behavior: smooth;
}
menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

.hover\:-translate-y-2:hover {
    --tw-translate-y: -0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
        scaleY(var(--tw-scale-y));
}
.hover\:text-slate-200:hover {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
}
.hover\:text-teal-300:hover {
    --tw-text-opacity: 1;
    color: rgb(94 234 212 / var(--tw-text-opacity));
}
.group:hover .group-hover\:-translate-x-2,
.group\/link:hover .group-hover\/link\:translate-x-1 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
        scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:-translate-x-2 {
    --tw-translate-x: -0.5rem;
}
.group:hover .group-hover\:translate-x-2 {
    --tw-translate-x: 0.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
        scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:border-slate-200\/30 {
    border-color: rgba(226, 232, 240, 0.3);
}
.group:hover .group-hover\:border-teal-300 {
    --tw-border-opacity: 1;
    border-color: rgb(94 234 212 / var(--tw-border-opacity));
}
.group:hover .group-hover\:bg-slate-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.group:hover .group-hover\:text-slate-200 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
}
.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
.group:hover .group-hover\:drop-shadow-xl {
    --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
        drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
        var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
        var(--tw-drop-shadow);
}
@media (prefers-reduced-motion: no-preference) {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    .motion-reduce\:transition-none {
        transition-property: none;
    }
}
@media (min-width: 640px) {
    .sm\:left-auto {
        left: auto;
    }
    .sm\:order-1 {
        order: 1;
    }
    .sm\:order-2 {
        order: 2;
    }
    .sm\:col-span-2 {
        grid-column: span 2 / span 2;
    }
    .sm\:col-span-6 {
        grid-column: span 6 / span 6;
    }
    .sm\:block {
        display: block;
    }
    .sm\:table-cell {
        display: table-cell;
    }
    .sm\:hidden {
        display: none;
    }
    .sm\:translate-y-1 {
        --tw-translate-y: 0.25rem;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
            skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .sm\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .sm\:items-center {
        align-items: center;
    }
    .sm\:gap-8 {
        gap: 2rem;
    }
    .sm\:pb-0 {
        padding-bottom: 0;
    }
    .sm\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .sm\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
    .sm\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
@media (min-width: 768px) {
    .md\:-inset-x-6 {
        left: -1.5rem;
        right: -1.5rem;
    }
    .md\:-inset-y-4 {
        top: -1rem;
        bottom: -1rem;
    }
    .md\:-mx-12 {
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .md\:mb-24 {
        margin-bottom: 6rem;
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:gap-4 {
        gap: 1rem;
    }
    .md\:p-4 {
        padding: 1rem;
    }
    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .md\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
@media (min-width: 1024px) {
    .lg\:sr-only {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    .lg\:absolute,
    .lg\:sr-only {
        position: absolute;
    }
    .lg\:relative {
        position: relative;
    }
    .lg\:sticky {
        position: sticky;
    }
    .lg\:-inset-x-6 {
        left: -1.5rem;
        right: -1.5rem;
    }
    .lg\:top-0 {
        top: 0;
    }
    .lg\:top-auto {
        top: auto;
    }
    .lg\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .lg\:mb-36 {
        margin-bottom: 9rem;
    }
    .lg\:block {
        display: block;
    }
    .lg\:flex {
        display: flex;
    }
    .lg\:table-cell {
        display: table-cell;
    }
    .lg\:max-h-screen {
        max-height: 100vh;
    }
    .lg\:w-1\/2 {
        width: 50%;
    }
    .lg\:w-full {
        width: 100%;
    }
    .lg\:max-w-md {
        max-width: 28rem;
    }
    .lg\:cursor-\[url\(\'\/images\/koroks\/Elma\.png\'\)\2c _pointer\] {
        cursor: url(/images/koroks/Elma.png), pointer;
    }
    .lg\:scroll-mt-24 {
        scroll-margin-top: 6rem;
    }
    .lg\:flex-col {
        flex-direction: column;
    }
    .lg\:justify-between {
        justify-content: space-between;
    }
    .lg\:gap-4 {
        gap: 1rem;
    }
    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .lg\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .lg\:py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .lg\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .lg\:font-medium {
        font-weight: 500;
    }
    .lg\:text-slate-200 {
        --tw-text-opacity: 1;
        color: rgb(226 232 240 / var(--tw-text-opacity));
    }
    .lg\:opacity-0 {
        opacity: 0;
    }
    .lg\:hover\:\!opacity-100:hover {
        opacity: 1 !important;
    }
    .group:hover .lg\:group-hover\:bg-slate-800\/50 {
        background-color: rgba(30, 41, 59, 0.5);
    }
    .group\/list:hover .lg\:group-hover\/list\:opacity-50 {
        opacity: 0.5;
    }
    .group:hover .lg\:group-hover\:shadow-\[inset_0_1px_0_0_rgba\(148\2c 163\2c 184\2c 0\.1\)\] {
        --tw-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
        --tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
            var(--tw-shadow);
    }
    .group:hover .lg\:group-hover\:drop-shadow-lg {
        --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
            drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
            var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia)
            var(--tw-drop-shadow);
    }
}
